.comment_area {
  margin-top: 20px;
  border-top: solid 1px gray;
}

.comment{
    padding: 0.5em 1em;
    margin: 2em 0;
    border-top: solid 5px gray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

